body {
    width: 1080px;
    margin: 0 auto;
}

#title-id {
    height: 150px;
}

#for-autorun {
    width: 270px;
    height: auto;
    float:left;
    margin-top: 10px;
}

#vehicle-contents {
    margin-left: 270px;
    width: 540px;
    min-height: 500px;
    height: auto;
    margin-top: 10px;
}

#for-remotedrive {
    margin-left: 810px;
    width: 270px;
    height: auto;
    float: right;
    margin-top: 10px;
}

#footer {
    margin-top: 10px;
    width: 980px;
    height: 100px;
}

body {
    background-image: url("./images/main.jpg");
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
}

#my-id {
    font-family: cursive;
}

#their-video {
    border: solid;
}

#kill-remote-mode {
    display: inline-block;
    margin: 6px;
    font-size: inherit;
    line-height: 1.42;
    padding: 0.6em 1.6em;
    font-weight: normal;
    border-width: 2px;
    border-style: solid;
    background: transparent;
    border-radius: 1.46em;
    cursor: pointer;
    font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif;
    user-select: none;
    vertical-align: bottom;
    position: relative;
    border-style: solid;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s
}

#kill-remote-mode:hover:after {
    transform: scaleX(1);
    opacity: 1;
    transition: transform 0.3s, opacity 0.3s
}

#kill-remote-mode:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 1.46em;
    transform: scaleX(0.7);
    opacity: 0;
    transition: transform 0.8s, opacity 0.3s
}

#kill-remote-mode {
    color: #800080;
    border-color: #800080
}

#kill-remote-mode:hover {
    color: #E6EAEF;
    background-color: #800080
}

#kill-remote-mode:active {
    background-color: #800080
}

#kill-remote-mode:active:after {
    background-color: #800080
}

#kill-remote-mode:after {
    background-color: #800080
}

#call-trigger {
    display: inline-block;
    margin: 6px;
    font-size: inherit;
    line-height: 1.42;
    padding: 0.7em 1.4em;
    font-weight: normal;
    border-width: 3px;
    border-style: solid;
    background: transparent;
    border-radius: 0;
    cursor: pointer;
    font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif;
    user-select: none;
    vertical-align: bottom;
    position: relative;
    transform: translate(0.5em -0.4em);
    transition: transform 0.2s
}

#call-trigger:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: translate(0.6em, -0.3em);
    transition: transform 0.2s, background-color 0.2s
}

#call-trigger {
    color: #52C11F;
    border-color: #52C11F
}

#call-trigger:hover {
    transform: translate(0.2em, -0.1em)
}

#call-trigger:hover:before {
    transform: translate(-0.4em, 0.4em)
}

#call-trigger:active {
    transform: translate(0, 0);
    transition-duration: 0.1s
}

#call-trigger:active:before {
    transition-duration: 0.1s;
    transform: translate(0, 0);
    background-color: rgba(31, 193, 142, 0.5)
}

#call-trigger:before {
    background-color: rgba(31, 193, 142, 0.4)
}

#close-trigger {
    display: inline-block;
    margin: 6px;
    font-size: inherit;
    line-height: 1.42;
    padding: 0.7em 1.4em;
    font-weight: normal;
    border-width: 3px;
    border-style: solid;
    background: transparent;
    border-radius: 0;
    cursor: pointer;
    font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif;
    user-select: none;
    vertical-align: bottom;
    position: relative;
    transform: translate(0.5em -0.4em);
    transition: transform 0.2s
}

#close-trigger:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: translate(0.6em, -0.3em);
    transition: transform 0.2s, background-color 0.2s
}

#close-trigger {
    color: #f00;
    border-color: #f00
}

#close-trigger:hover {
    transform: translate(0.2em, -0.1em)
}

#close-trigger:hover:before {
    transform: translate(-0.4em, 0.4em)
}

#close-trigger:active {
    transform: translate(0, 0);
    transition-duration: 0.1s
}

#close-trigger:active:before {
    transition-duration: 0.1s;
    transform: translate(0, 0);
    background-color: rgba(193, 31, 107, 0.5)
}

#close-trigger:before {
    background-color: rgba(193, 31, 107, 0.5)
}


.full-screen-image {
    display: none;
    background: RGBA(0,0,0,.8) no-repeat center;
    background-image: url();
    background-size: contain;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    cursor: zoom-out;
 }
 
 /*
 .full-screen-image.isFullScreen {
    display: block;
 }*/
